.Sub-Title ul,
li {
  display: inline-flex;
  list-style-type: none;
  margin-bottom: 20px;
}

.Title-Start {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 700px;
  padding-right: 650px;
  color: rgb(37, 35, 35);
}
.End {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 700px;
  color: rgb(49, 48, 48);
}
